
.homePage-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

.logo{
    position: absolute;
    top: 3%;
    left: 4%;
    width: 10%;
    img{
        width: 100%;
    }
}

button{
    position: absolute;
    z-index: 1000;
    top: 7%;
    right: 3%;
    font-size: 1.9rem;
    color: white;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    // &:hover{
    //     box-shadow: 0 0 1rem gray;
    // }
}





.flipPage-container{
    position: relative;
    width: 100vw;
    height: 99vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    transition: 5s;
}

.flipPage-part1{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr;
}

.flipPage-part1-index{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15,16,19);
    color: rgb(243,243,243);
    ul{
        list-style: none;
        li{
            text-align: center;
            padding-bottom: 0.9rem;
        }
    }
   
}
.flipPage-part1-map{
    width: 100%;
    overflow: hidden;
    img{
        width: 100%;
    }
    &:hover{
        transform: scale(1.05);
        transition: 2s;
    }
}
.flipPage-part1-logo{
    background-color: rgb(29,32,39);
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        
        img{
            width: 100%;
        }
    }
   
}
.flipPage-part1-address{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15,16,19);
    color: rgb(243,243,243);
    p{
        width: 75%;
        text-align: center;
    }
}

.flipPage-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21,23,27);
    color: rgb(243,243,243);
    ul{ 
        text-align: center;
        font-size: 2rem;
        li{
            list-style: none;
            padding-bottom: 1rem;
            
        }
    }
}

.btn-close{
    position: absolute;
    top: 6%;
    right: 4%;
    animation: spin 300ms linear ;
}


@keyframes spin {
    0% {
       transform: rotate(0deg);
    }
    25%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(90deg);
    }
    75%{
        transform: rotate(135deg);
    }
    100%{
        transform: rotate(180deg);
    }
}


